
.logo {
  width: 150px;
  margin: 50px 0px 10px 50px;
}

.title{
  margin: 10px 10px 10px 30px;
  font-weight: 300;
  font-size: 30px;
}

.listaYCarrito {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0px 15px 0px;
  padding: 10px;
  background-color: rgb(0, 0, 0);
  color: #fff;
}

.lista {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  font-size: 20px;
}

li {
  margin-right: 30px;
  padding-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-weight: 300;
  font-size: 20px;
}

a {
  text-decoration: none;
}

a:visited {
  color: #ffffffba;
}

a:hover {
  color: #2b66b2;
}
