.cartDetail{
    display: flex;
    flex-direction: column;
    width: 700px;
    margin: 20px;
    margin-left: 20%;
    align-items: center;
}
.titleCartDeail{
    font-size: 20px;
}

.imgCartDetail{
    height: 300px;
}

.containerCount{
    display: flex;
    flex-direction: column;
    border: none;
    margin: 20px;
    background-color: #ffff;
}

.containerCount button {
    border: none;
    height: 30px;
    width: 400px;
    color: #000000;

}